<h2>Let's exchange your money!</h2>
<div>Choose your current currency
    <select [(ngModel)]="currentCurrency">
        <option>USD</option>
        <option>EUR</option>
        <option>PLN</option>
    </select>
</div>
<span>Enter amount: </span>
<input [(ngModel)]="amountOfMoney" placeholder="amount of money">
<div>Choose currency you want to exchange to
    <select [(ngModel)]="currencyToExchange">
    >
        <option>USD</option>
        <option>EUR</option>
        <option>PLN</option>
    </select>
</div>

<div>Your exchanged money:{{exchangedMoney()}}</div>
