.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    background-color: #8b644e;
    color: white;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #443024;
  }
  .checked
  {
    background-color:#c9550c;
  }
  .correct
  {
    background-color:#20a705 !important;
  }
  .incorrect
  {
    background-color:#a70505 !important;
  }
  .disable-quiz{
    pointer-events: none;

  }
  .button-allign
  {
    display: flex;
    justify-content: center;
    align-items: center;

  }