.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    background-color: #8b644e;
    color: white;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #443024;
  }
  .isChecked{
    background-color: #803404 !important;

  }
  .answer-buttons
  {
    display:flex;
    align-items: center;
  }
  .correct-answer{
    background-color: rgb(10, 155, 10) !important;

  }
  .wrong-answer{
    background-color: rgb(223, 7, 7) !important;

  }
  .disable-pointer
  {
    pointer-events: none;
  }