<ul *ngFor="let quiz of quizModel()"
 [ngClass]="{'disable-quiz':isSubmitted}">
    {{quiz.question}}
        <span class="button" *ngFor="let answer of quiz.answerModel"
         (click)="chooseAnswer(quiz,answer)"
          [ngClass]="{'checked':answer.isChecked,
          'correct':answer.isCorrect&&answer.isChecked&&isSubmitted,
          'incorrect':!answer.isCorrect&&answer.isChecked&&isSubmitted}">
         {{answer.answer}}
    </span>
</ul>
<div class="button-allign">
<span class="button" (click)="submitAnswers()">Submit asnwers</span>
<span>{{totalScore() | limitDecimal}}%</span>
<span class="button" (click)="resetAnswers()">Reset quiz</span>
</div>