
<h1>Observable approach</h1>
<input placeholder="filter country"
[(ngModel)]="filterQuery"
(ngModelChange)="filterCountries()"

>
<input placeholder="filter country on observable"
[(ngModel)]="filterQuery2"
(ngModelChange)="filterCountries2()"

>
<li *ngFor="let country of filteredCountriesForObservables" [innerHTML]="country | secondCountryFilter:filterQuery"></li>
<input placeholder="add country"
[(ngModel)]="addCountryQuery">
<button (click)="addCountry()">Add country to the list</button>
<hr>

<h1>Signal approach</h1>
<input placeholder="filter country"
[(ngModel)]="signalFilterQuery"
(ngModelChange)="signalFilter()"
>
<!-- try to apply filter for signals -->
<li *ngFor="let country of baseCountriesForSignal()">{{country}}</li>
<input placeholder="add country"
[(ngModel)]="signalAddCountryQuery">
<button (click)="signalAddCountry()">Add country to the list</button>